<div class="consultacontainer">
    {{#each listarC}}

    <strong> #{{this.id}} </strong> -
    <h1>{{nome}}</h1>
    <p> Dia: {{data}},
     Hora: {{horario}},
     Sintomas: {{sintomas}} </p> <br>

    {{/each}}


</div>